* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// main container
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(https://static9.depositphotos.com/1559686/1075/i/950/depositphotos_10754504-stock-photo-empty-frames-on-wall.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// image 1
.container1 {
    position: relative;
    width: 397px;
    height: 263px;
    top: 116px;
    left: 58px;
    background-image: url(https://picsum.photos/396/263);
}

// image 2

.container2 {
    position: relative;
    width: 399px;
    height: 263px;
    top: 116px;
    left: 181px;
    background-image: url(https://picsum.photos/397/262);
}

// image 3

.container3 {
    position: relative;
    width: 399px;
    height: 263px;
    top: 116px;
    left: 286px;
    background-image: url(https://picsum.photos/398/263);
}


